.Layout{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.react-bs-table-pagination{
    float: left;
}

.addBtn {
    float: right;
}
/* .button.btn.btn-info.react-bs-table-add-btn {
    float: right;
    font-size: 90px;
} */
